body{
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
}

.menu{
  background: rgb(9,73,170);
}

.menu_items{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  row-gap: 1.6rem;
}

.menu_link{
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.menu_icon{
  color: #ffffff;
  font-size: 1.5rem;
  border: 1px solid #fff;
  padding: .5rem 1.5rem;
  border-radius: 3px;
  margin: 1rem;
  margin-left: 2rem;
  cursor: pointer;

}

@media screen and (min-width: 900px){
  .menu_items{
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 1.5rem;
    padding: 2rem 0;
    margin-right: 3rem;
  }
}


